# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://pmyfnstcgzbtbrffhqjn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBteWZuc3RjZ3pidGJyZmZocWpuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk2ODMyMDYsImV4cCI6MjEwNTI1OTIwNn0.MeRVRKgscK6hR4B3aXo1e8BdczLnzfKZVzLTmuHGXLE
